@(title: String, room: String)

@main(title) {

  <p>Share this link with others:
    <a>
      <script>document.write(window.location.href);</script>
    </a>
  </p>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading">Users:</div>
    <div id="userlist" class="panel-body">

    </div>
  </div>

<script>
    // handle stream of users in room
    var feed = new EventSource("/userfeed/@room");
    feed.addEventListener("message", function(msg){
      var m = JSON.parse(msg.data);
      console.log(m.user);
      $("#userlist").prepend("<div>" + m.user + "</div>");
    });
    setTimeout(function() {
      // rest of code here
    }, 2000);

    var user = prompt("Username:");

    // send new user data to server
    $.ajax({
      url: "/newuser",
      data: JSON.stringify({ room: "@room", user: user }),
      method: "post",
      contentType: "application/json"
    })

    console.log("sent");

    // notify server of user leaving room
    window.onbeforeunload = function(){
      $.ajax({
        url: "/removeuser",
        data: JSON.stringify({ room: "@room", user: user }),
        method: "post",
        contentType: "application/json"
      })
    }
  </script>
<div id="content"></div>
}
