@(title: String, room: String)

@main(title) {

  <p>Share this link with others:
    <a>
      <script>document.write(window.location.href);</script>
    </a>
  </p>
  <hr>

  <div class="log"></div>
  <div id="content"></div>
  <script>
    var user = prompt("Username:");

    // handle stream of users in room
    var feed = new EventSource("/userfeed/@room");
    feed.addEventListener("message", function(msg){
      var m = JSON.parse(msg.data);
      $(".log").append("<div class='message'>" + m.user + "</div>");
    });

    // send new user data to server
    $.ajax({
      url: "/newuser",
      data: JSON.stringify({ room: "@room", user: user }),
      method: "post",
      contentType: "application/json"
    })

    // notify server of user leaving room
    window.onbeforeunload = function(){
      $.ajax({
        url: "/removeuser",
        data: JSON.stringify({ room: "@room", user: user }),
        method: "post",
        contentType: "application/json"
      })
    }
  </script>
}
